.nav{
    margin: 10px;
    border-radius: 10px;
    width: 98%;
}
.grid-container{
    padding: 2%;
}
.grid-system{
    margin: 10px;
    width: 100%;
    border-radius: 20px;
}
.grid-one{
    margin: 0%;
    padding: 0%;
}
